.banner 
{
    width: 100vw;
    height: 65vh;
    
    background: linear-gradient(to bottom, #ecf5ff, #c7dffe, #c4dcfa, #bbd7fc, #8abafb);
    display: flex;
    flex-direction: row;
    padding: 2rem 4rem;
    

}



.banner-content {
    display: flex;
    
    width: 55rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}
.banner p {
    font-size: 1.2rem;
    font-family: var(--pri);
}

.banner-content  h3 
{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--main-heading);
}

.demo {
    width: 35rem;
     border-radius: 50%;
     height: 35rem;
     padding-bottom: 7rem;
}

.card-body {
    background: transparent;
}

/* Media Querry for 360px */


@media screen and (min-width:300px)
{
      .banner 
      {
        
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 70vh;
        gap: 1.2rem;
        margin-top: 1.2rem;

      }

      .banner h3 {
        font-size: 1.5rem;
      }
      .banner p {
        font-size: 1rem;
      }

      .banner-content{
        margin-bottom: 2.5rem;
       
        width: 18rem;
        height: 60vh;
        display: flex;
        gap: 1.2rem;
        padding: 1.2rem 0.8rem;
        
      }

      .demo {
        width: 18rem;
        height: 25rem;
        margin-top: -3rem;
        padding: 0 0.3rem;
      }
}



/* for 650 px */


@media screen and (min-width:650px)
{
      .banner 
      {
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 45vh;
        gap: 1.2rem;
        width: 100vw;
        padding: 1rem 0.9rem;


      }

      .banner h3 {
        font-size: 1.8rem;
      }
      .banner p {
        font-size: 1rem;
      }

      .banner-content{
        margin-bottom: 1rem;
       
        width: 35rem;
        height: 60vh;
        display: flex;
        gap: 1.2rem;
        padding: 0.5rem 0.8rem;
       margin-top: 1.2rem;
        
        
      }

      .demo {
       
        width: 20rem;
        height: 25rem;
        margin-top: -3rem;
        padding: 0 0.3rem;
       
      }
}


/* for 1240px */


@media screen and (min-width:1240px)
{
      .banner {
        height: 65vh;
        

      }
.banner-content {
    display: flex;
    height: 60vh;
    width: 55rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}
.banner p {
    font-size: 1.2rem;
}

.banner-content  h3 
{
    font-size: 2.5rem;
    font-weight: 600;
}

.demo {
    width: 35rem;
     border-radius: 50%;
     height: 35rem;
     padding-bottom: 7rem;
}
}
